html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app__container {
  min-height: 100vh;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  .wrapper {
    min-width: 250px;
    max-width: 2000px;
    width: 90%;
    margin: auto;
  }
}
