@import '../App/variables';
header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  height: 70px;
  display: flex;
  align-items: center;
  .container {
    width: 85%;
    margin: auto;
    overflow: hidden;
    h1 {
      color: $dark-blue;
    }
  }
}
