@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
header {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container {
  width: 85%;
  margin: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .logo__container a {
  text-decoration: none;
}

header .container .logo__container a h1 {
  color: #2b3945;
}

header .container .registration .registration__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

header .container .registration .registration__list li a {
  text-decoration: none;
  color: #2b3945;
  font-size: 18px;
}

.directory {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: calc(80vh);
      grid-template-rows: calc(80vh);
  margin: 30px auto;
  border-radius: 5px;
  overflow: hidden;
}

.directory::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.directory img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.directory .men__item__container {
  position: relative;
  background: url("../../assets/images/shop-men.jpeg") no-repeat 0 -180px;
  background-size: cover;
}

.directory .women__item__container {
  position: relative;
  background: url("../../assets/images/shop-women.jpeg") no-repeat;
  background-size: cover;
}

.directory button {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 10px;
  outline: none;
  font-family: inherit;
  background-color: #2b3945;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.directory button:hover {
  opacity: 0.85;
}

footer {
  text-align: center;
  font-size: 16px;
  padding: 20px;
}

.signin .container {
  width: 40%;
  margin: auto;
  overflow: hidden;
  border: 3px solid #2b3945;
  padding: 15px 10px 10px 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signin .container form {
  width: 100%;
}

button {
  width: 100%;
  background-color: #2b3945;
  color: white;
  font-family: inherit;
  border-radius: 5px;
  font-size: 18px;
  border: 2px solid #2b3945;
  outline: none;
  padding: 10px 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  text-transform: uppercase;
  letter-spacing: 2px;
}

button:hover {
  background-color: #fff;
  color: #2b3945;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app__container {
  min-height: 100vh;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

.app__container .wrapper {
  min-width: 250px;
  max-width: 2000px;
  width: 85%;
  margin: auto;
}
/*# sourceMappingURL=default.css.map */